// BASE
.page-add {
  .wrapper__inner {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
}

// Elements  / componentens
.page-add {
  h1 {
    font-family: $lato;
    font-weight: 900;
    font-size: 32px;
    padding-bottom: 2.5rem;
  }
  .add {
    width: 100%;
    padding-top: 30vh;
    padding-bottom: 100vh;
  }
}