// BASE LAYOUT STUFF
.page-crumbTemplateDetail {
  .wrapper__inner {
    // padding-top: 40vh;
    padding-bottom: 140px;
  }

  .hero {
    margin-left: -2rem;
    width: calc(100% + 4rem);
  }
}

// Elements  / componentens

.page-crumbTemplateDetail{
  .crumbdetail-calendar {
    height: 50vh;

    .crumbdetail-calendar__inner {
      padding: 6rem 2rem 2rem
    }
  }
}