// BASE
.page-editLabelTemplate {
  .wrapper__inner {
    // padding-top: 40vh;
    padding-bottom: 140px;

    .button-wrapper {
      position: absolute;
      left: 600px;
      width: 80%;
      margin-left: 10%;
    }
  }
}

// Elements  / componentens
.page-editLabelTemplate {
  h1 {
    font-family: $lato;
    font-weight: 900;
    font-size: 32px;
    padding-bottom: 2.5rem;
  }
}