// BASE
.page-editLabelTemplate {
  .wrapper__inner {
    padding-top: 30vh;
  }
}

// Elements  / componentens
.page-editLabelTemplate {
  h1 {
    font-family: $lato;
    font-weight: 900;
    font-size: 32px;
    padding-bottom: 2.5rem;
  }
}