.splashscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f1c3b8;
  color: #1a227d;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 900;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

}