$editCrumbInputPadding: 1.5;

.inputRow {
  font-family: $space;
  padding: 1rem 1rem 2rem;
  position: relative;
  width: 100%;

  &.inputRow--label {
    color: #000;
    input {
      color: #999;
    }
  }

  label {
    text-transform: uppercase;
    font-weight: 900;
    display: block;
    margin-bottom: 1rem;
    font-size: 10px;
    padding-left: #{$editCrumbInputPadding}rem;
  }

  input {
    padding: #{$editCrumbInputPadding}rem;
    background: #999;
    border: 0;
    display: block;

    width: calc(100% - #{calc($editCrumbInputPadding * 2)}rem);
    border-radius: 8px;
    color: #FFF;
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.input__label {
  font-family: $noto;
  font-size: 19px;
  font-weight: 300;
}