.crumbsList {
  padding: 3rem 0 2rem;
  @include transition;

  h2 {
    font-family: $inter;
    font-weight: 900;
    letter-spacing: -0.01rem;
    color: #B9B9B9;
    font-size: 12px;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
}

.crumbCardWrapper {

}

.crumbCard {
  font-family: $playfair;
  background: #7DACE5;
  padding: 1rem;
  border-radius: 3px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__title {
    font-family: $noto;
    font-weight: 300;
    letter-spacing: -0.02rem;
    font-style: italic;
  }

  &__amount {
    font-family: $inter;
    font-weight: 100;
    letter-spacing: -0.02rem;
    font-size: 16px;
    opacity: 0.4;
  }

  &__date {
    span {
      display: block;
      text-align: right;
    }

    .day, .month {
      font-family: $inter;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: -0.02rem;
    }

    .day {
      font-weight: 600;
      color: #000;
      font-size: 14px;
    }
  }
}