@import
  "abstract/reset",
  "abstract/disable-select",
  "abstract/fonts";

@import
  "components/addbutton/addbutton",
  "components/avatar/avatar";

@import
  "layout/base",
  "layout/page-transitions",
  "layout/global-navigation",
  "layout/float-navigation";

@import
  "views/add",
  "views/loginPage",
  "views/splashscreen";

body, html {
  background: #fff;
}

$abril: 'Abril Fatface', cursive;
$playfair: 'Playfair Display', serif;

html, body {
  margin: 0;
  padding: 0;
}
