// BASE
.page-add {
  .wrapper__inner {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  .actions {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}

// Elements  / componentens
.page-add {
  h1, h2 {
    font-family: $inter;
    font-weight: 900;
    font-size: 32px;
    padding-bottom: 2.5rem;
  }

  h2 {
    text-transform: uppercase;
    color: #B9B9B9;
    font-size: 12px;
    letter-spacing: -0.01rem;
    padding-top: 2.5rem;
  }
  .add {
    width: 100%;
    padding-top: 30vh;
    padding-bottom: 100vh;
  }
}