#colorDropDown {
  transform: translateX(200px);
}

.dropdown.colorDropdown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-right: 12px;

  .dropdown__trigger {
    order: 2;
    flex-grow: 0;
    border-radius: 40px;
    background: #FFF;
    width: 40px;
    height: 40px;
    padding: 0;
    box-shadow: 0px 0px 23px rgb(0, 0, 0, 20%);
    @include flex-center;

    .label {
      display: block;
      width: 21px;
      height: 21px;
      border-radius: 21px;
      background: #000;
    }
  }

  .dropdown__item {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: white;
    margin-right: 0.5rem;
    opacity: 0;
    transform: translateX(10px);
    @include flex-center;
    box-shadow: 0px 0px 23px rgb(0, 0, 0, 10%);
    transition: all 0.3s $default-easing;

    .label {
      display: block;
      width: 21px;
      height: 21px;
      border-radius: 21px;
      background: #000;
    }
  }
  @for $i from 1 to 10 {
    .dropdown__content div:nth-child(#{$i}) { transition-delay: 0.2 - ($i * 0.05s); }
  }

}

.dropdown__content {
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 2;
  order: 1;
}

.dropdown.colorDropdown.active {
  .dropdown__content {
    opacity: 1;
  }

  .dropdown__item {
    opacity: 1;
    transform: translateX(0px);
  }
}
