/********** NAV BASE  ***********/

.nav {
  position: fixed;
  top: 0px;
  z-index: 20;
}

/********** NAV TRIGGER BUTTON  ***********/

.nav {
  .trigger {
    left: 0px;
    padding-left: 32px;
    padding-top: 64px;
    height: 96px;
    width: 64px;
    background: none;
    border: 0px;
    position: relative;
    z-index: 10;

    &__inner {
      position: absolute;
      left: 32px;
      top: 64px;
      width: 34px;
      height: 12px;
    }

    span {
      display: block;
      width: 33px;
      height: 1px;
      background-color: #878787;
      text-align: left;

      &:last-child {
        position: relative;
        top: 10px;
      }
    }
  }
}

/********** NAV ITEMS  ***********/

.nav {
  .nav__items {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #456B99;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
      display: block;
      width: 100%;
      padding-left: 32px;
      font-family: $space;
      color: white;
      text-transform: uppercase;

      &.router-link-exact-active {
        color: #42b983;
        font-weight: 600;
      }

    }
  }
}

/********** NAV STATE / OPEN  ***********/

.nav {
  &.open {
    .trigger{
      span {
        background-color: white;
      }
    }
    .nav__items {
      display: flex;
      padding: 3rem;

      a {
        display: inline-block;
        margin-bottom: 1rem;
        text-decoration: none;
      }
    }
  }
}

