@import "components/ui/dropdown/base";

.dropdown {
  &__trigger {

  }
}

.dropdown.dropdown--default {
  position: relative;
  font-family: $space;
  text-transform: uppercase;
  font-weight: 400;

  .dropdown__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 1.5rem;
    color: #FFF;

    .chevron {
    }
  }

  .dropdown__content {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 8px;
    transition: all 0.2s ease-out;
    opacity: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    .dropdown__item {
      width: 100%;
      padding: 1.5rem;
      background: #999;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 14px;

      &.active {
        span {
          opacity: 0.3;
        }
      }

      &:first-child {
        border-radius: 8px 8px 0 0;
      }
      &:last-child {
        border-radius: 0 0 8px 8px;
        border: 0;
      }
    }
  }
}

.dropdown.dropdown--default.active {
  .dropdown__trigger{
    .chevron {
      transform-origin: center;
      animation-duration: 0.5s;
      animation-name: chevronAnimation;
      animation-fill-mode: forwards;
    }
  }
  .dropdown__content {
    max-height: 2000px;
    opacity: 1;
    top: 80%;
  }
}

@keyframes chevronAnimation {
  0% {
    transform: rotate(0deg) translateY(0px);
  }

  50% {
    opacity: 0;
    transform: rotate(0deg) translateY(40px);
  }
  51% {
    opacity: 0;
    transform: rotate(180deg) translateY(40px);
  }
  52% {
    opacity: 0;
    transform: rotate(180deg) translateY(-40px);
  }

  100% {
    transform: rotate(180deg) translateY(0px);
    opacity: 1;
  }
}

@keyframes chevronAnimationOut {
  0% {
    transform: rotate(0deg) translateY(0px);
  }

  50% {
    opacity: 0;
    transform: rotate(0deg) translateY(40px);
  }
  51% {
    opacity: 0;
    transform: rotate(180deg) translateY(40px);
  }
  52% {
    opacity: 0;
    transform: rotate(180deg) translateY(-40px);
  }

  100% {
    transform: rotate(180deg) translateY(0px);
    opacity: 1;
  }
}