
.most-used-button {
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 30px;
  text-align: left;
  color: white;
  background-color: #BF87B3; // #1FC8A9;
  margin-bottom: 0.5rem;
  font-family: $playfair;
  font-style: italic;
  font-weight: 600;
  letter-spacing: -0.03rem;
  font-size: 22px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: 60px;
  -webkit-touch-callout: none;
  box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.25);
  @include transition();

  &__inner {
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 0rem 0 0rem 2rem;
    width: 100%;
    height: 100%;
  }


  .mub-label{
    pointer-events: none;
    position: relative;
    z-index: 3;
    width: 50%;
    @include transition();
  }

  .mub-details {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
  }

  .timespan {
    font-size: 10px;
  }


  .mub-total {
    display: flex;
    align-items: flex-start;
    pointer-events: none;
    position: relative;
    z-index: 4;
    width: 50%;
    @include transition();

    &__cents {
      font-size: 12px;
      margin-left: 1ch;
    }
  }

  .mub-add {
    position: absolute;
    border-radius: 3px 30px 30px 30px;
    right: 4px;
    top: 4px;
    height: calc(100% - 8px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    background: #AC639C;
    align-self: flex-end;
    @include transition();
  }

  .mub-progress {
    position: absolute;
    border-radius: 30px 30px 3px 30px;
    left: 4px;
    top: 4px;
    height: calc(100% - 8px);
    width: 100px;
    background-color: rgba(255,255,255,0.2);
    transition: all 0.3s;
    @include transition();
  }
}

.most-used-button__extended {
  background-color: #EDDDEA;
  border-radius: 5px 5px 30px 5px;
  margin-bottom: 2rem;
  padding: 5rem 1.5rem 2rem;
  margin-top: -3rem;
  text-align: left;

  .extended-input-row {
    display: flex;
    align-items: center;

    input, button {
      display: block;
    }
  }

  .extended__type {
    font-family: $lato;
    font-weight: 600;
    color: black;
    opacity: 0.6;
    font-size: 14px;
    margin-right: 0.6rem;
  }

  .extended__amount {
    border: 0;
    border-radius: 5px 5px 5px 5px;
    height: 40px;
    padding: 0 1rem;
    font-family: $lato;
    font-size: 1rem;
    width: 40%;

    &.default {
      color:  #999;
    }

    &:focus {
      outline: none;
    }
  }

  .extended__button {
    background: #AC639C;
    height: 40px;
    border: none;
    border-radius: 10px 5px 5px 5px;
    margin-left: 8px;
    padding: 0.5rem 1rem;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 900;
    color: #fff;
  }

  .extended__date-wrapper {
    background: rgba(white, 0.2);
    background-color: darken(#EDDDEA, 10%);
    width: calc(100% + 3rem);
    border-bottom-right-radius: 30px;
    // transform: translateX(-1.5rem);
    margin: 2rem 0 -2rem -1.5rem;
    height: 45px;
    display: flex;
    align-items: center;

    .extended__date {
      font-family: $lato;
      font-size: 10px;
      margin-left: 2.8rem;
    }
  }

  label {
    font-family: $lato;
    font-weight: 600;
    margin-bottom: 0.7rem;
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 1rem;
  }
}

html, body {
  height: 100%;
  background: #F2F2F2;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  width: 32px;
  height: 32px;

  & .path {
    stroke: hsl(210, 100%, 75%);
    stroke-width: 4px;;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite, colors 6s infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes colors {
  0% {
    stroke: hsl(0, 100%, 50%);
  }
  25% {
    stroke: hsl(0, 100%, 50%);
  }
  26% {
    stroke: hsl(50, 100%, 45%);
  }
  50% {
    stroke: hsl(50, 100%, 45%);
  }
  51% {
    stroke: hsl(100, 100%, 30%);
  }
  75% {
    stroke: hsl(100, 100%, 30%);
  }
  76% {
    stroke: hsl(190, 100%, 37%);
  }
  100% {
    stroke: hsl(190, 100%, 37%);
  }
}

