@import
  "abstract/reset",
  "abstract/disable-select",
  "abstract/fonts",
  "abstract/mixins/transitions",
  "abstract/mixins/flex";

@import
  "components/addbutton/addbutton",
  "components/editcrumb/editcrumb",
  "components/crumb/crumbCard",
  "components/crumb/CrumbTemplateForm",
  "components/ui/buttons/buttons",
  "components/ui/dropdown/dropdown",
  "components/ui/dropdown/colordropdown",
  "components/avatar/avatar";

@import
  "layout/base",
  "layout/page-transitions",
  "layout/global-navigation",
  "layout/float-navigation";

@import
  "views/add",
  "views/CrumbTemplateEdit",
  "views/crumbTemplateDetail",
  "views/loginPage",
  "views/home",
  "views/splashscreen";

body, html {
  background: #fff;
}

$abril: 'Abril Fatface', cursive;
$playfair: 'Playfair Display', serif;

html, body {
  margin: 0;
  padding: 0;
}
